@charset "utf-8";
/* reset */
body,div,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,ol,table,tr,th,td,caption,form,fieldset,input,select,textarea,blockquote,address {margin: 0; padding: 0;}
img,fieldset,iframe {border: 0 none;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
address,em {font-style: normal; font-weight: normal;}
table {border-collapse: collapse; border-spacing: 0px;}
input,textarea,select,button,table {font-size: inherit; font-family: inherit; line-height: inherit;}

/* base */
* {word-wrap: break-word; word-break: keep-all; box-sizing: border-box;}
body {overflow-x: hidden; font-family: "BarlowRegular", "NanumBarunpenR", Arial, sans-serif; font-size: 12px; line-height: 1.4; color: #fff;}
ul,ol,li {list-style: none; line-height: 100%;}
a,a:hover,a:focus {color: inherit; text-decoration: none;}
caption,legend {position: absolute; top: -5000px; width: 0; height: 0; line-height: 0; text-indent: -5000px; visibility: hidden; font-size: 0;}
textarea {resize: none;}
img {border: 0; vertical-align: middle;}
hr {display: none;}
section {padding: 0; margin: 0;}

/* mobile */
body {-webkit-text-size-adjust: none}
label {cursor: pointer;}

/* common class */
.skip {visibility: hidden; position: absolute; top: -5000px; width: 0; height: 0; text-indent: -5000px; line-height: 0; font-size: 0;}
.hidden {display: none;}
.curtain {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;}

::selection {background: #5ec7eb; color: #fff;}

/* font family */
/* 국문 */
@font-face {
  font-family: "NanumBarunpenR";
  src: url("./font/NanumBarunpenR.ttf");
}

@font-face {
  font-family: "NanumBarunpenB";
  src: url("./font/NanumBarunpenB.ttf");
}

/* 영문 */
@font-face {
  font-family: "BarlowThin";
  src: url("./font/BarlowCondensed-Thin.ttf");
}

@font-face {
  font-family: "BarlowLight";
  src: url("./font/BarlowCondensed-Light.ttf");
}

@font-face {
  font-family: "BarlowRegular";
  src: url("./font/BarlowCondensed-Regular.ttf");
}

@font-face {
  font-family: "BarlowMedium";
  src: url("./font/BarlowCondensed-Medium.ttf");
}

@font-face {
  font-family: "BarlowBold";
  src: url("./font/BarlowCondensed-Bold.ttf");
}
